<div id="checkout-wrapper">
  <div id="login-container">
    <nav>
      <ul>
        <li class="tab-current">Join Now</li>
        <li>Sign In</li>
      </ul>
    </nav>
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Password">
    <button type="submit">Log In</button>
    <div class="login-links">
      <!-- <em><a href="#">Log In With Facebook</a></em> -->
      <label><input type="checkbox" value="subscribe">Yes, I want to stay in touch</label>
    </div>
  </div>
</div>