<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-menu-btn" class="centered-navigation-menu-btn header-link">Menu</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Studio</a></li>
      </ul>
    </nav>
    <a class="header-link" href="#">Cart</a>
  </div>
</header>

<div id="main-container">

  <section id="slider">
    <img id="hero-image" src="" alt="">
    <p>The Setting is a collection of handmade ceramic tableware inspired by the memories shared while entertaining friends and family at home. To us, there is nothing more important than spending time with the people who matter most and no better way to do so than over a beautifully created setting.</p>
    <a href="#">Shop the Collection</a>
  </section>
  


</div>






