<!-- Used to push page down to make space for cart reveal -->
<div id="space-holder"></div>

<section id="cart">
  <div id="cart-container">
    <p>You have these products in your cart:</p>
    <button type="submit">Check Out | $59</button>
  </div>
</section>


<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <%= render 'logo' %>
    <a href="javascript:void(0)" id="js-centered-navigation-menu-btn" class="centered-navigation-menu-btn header-link">Menu</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Studio</a></li>
      </ul>
    </nav>
    <a id="cart-link" class="header-link" href="#">Cart</a>
  </div>
</header>

<div id="header-background"></div>

<div id="main-container">

  <section id="splash">
    <p class="subtext">The Setting is a collection of handmade ceramic tableware inspired by the memories shared while entertaining friends and family at home. To us, there is nothing more important than spending time with the people who matter most and no better way to do so than over a beautifully created setting.</p>
    <div class="expand">
      <em><a href="#">Shop the Collection</a></em>
    </div>
  </section>
  
  <section id="products">
    <h2>Products</h2>

    <div id="show-product">
      <div class="show-product-container insert">
        <div class="x"></div>
        <img class="show-product-image" src="/img/product-image-ph-4.jpg" alt="product-image">
        <div class="show-product-text">
          <h3>Custom Tea Cup</h3>
          <h4>$55</h4>
          <p>Approximately 3.5” x 3.5”.</p>
          <p>Handmade in New York City.<br>
          Hand wash recommended.<br>
          Made to order within 6 weeks.</p>
          <button>Add to cart</button>
        </div>
      </div>
    </div>

    <div class="products-container">
      <!-- Placeholder Product Data -->
      <div class="product">
        <img class="product-image" src="/img/product-image-ph-4.jpg" alt="">
        <div class="product-text">
          <p>Custom tea cup</p>
          <p>Painted by hand in SoHo</p>
          <p>$55</p>
        </div>
      </div>
      <div class="product">
        <img class="product-image" src="/img/product-image-ph-2.jpg" alt="">
        <div class="product-text">
          <p>Custom tea cup</p>
          <p>Painted by hand in SoHo</p>
          <p>$55</p>
        </div>
      </div>
      <div class="product">
        <img class="product-image" src="/img/product-image-ph-4.jpg" alt="">
        <div class="product-text">
          <p>Custom tea cup</p>
          <p>Painted by hand in SoHo</p>
          <p>$55</p>
        </div>
      </div>
      <div class="product">
        <img class="product-image" src="/img/product-image-ph-2.jpg" alt="">
        <div class="product-text">
          <p>Custom tea cup</p>
          <p>Painted by hand in SoHo</p>
          <p>$55</p>
        </div>
      </div>
      <div class="product">
        <img class="product-image" src="/img/product-image-ph-2.jpg" alt="">
        <div class="product-text">
          <p>Custom tea cup</p>
          <p>Painted by hand in SoHo</p>
          <p>$55</p>
        </div>
      </div>
      <div class="product">
        <img class="product-image" src="/img/product-image-ph-4.jpg" alt="">
        <div class="product-text">
          <p>Custom tea cup</p>
          <p>Painted by hand in SoHo</p>
          <p>$55</p>
        </div>
      </div>
      <div class="product">
        <img class="product-image" src="/img/product-image-ph-2.jpg" alt="">
        <div class="product-text">
          <p>Custom tea cup</p>
          <p>Painted by hand in SoHo</p>
          <p>$55</p>
        </div>
      </div>
      <div class="product">
        <img class="product-image" src="/img/product-image-ph-4.jpg" alt="">
        <div class="product-text">
          <p>Custom tea cup</p>
          <p>Painted by hand in SoHo</p>
          <p>$55</p>
        </div>
      </div>
    </div>
    <!-- End Placeholder Product Data -->

  </section>

  <section id="studio">
    <img src="" alt="">
    <h2>Studio</h2>
    <div class="slider">
      <img src="img/studio-slide-1.jpg" alt="">
      <img src="img/studio-slide-2.jpg" alt="">
    </div>
    <p class="subtext">Our studio includes a test kitchen bustling with freshly baked goods and special fare for our private events, appointments, and spontaneous gatherings.</p>
    <div class="expand">
      <em><a href="javascript:void(0)">Make an inquiry</a></em>
    </div>
  </section>

  <section id="inquiry">
    <div class="form-container insert">
      <h2>Make an Inquiry</h2>
      <!-- Determine if we'll use angular or rails form -->
      <form id="inquiry-form" action="/form">
        <input id="test" type="text" placeholder="Name" tabindex="1">
        <div id="dd" class="wrapper-dropdown" tabindex="2">
          <span>Brand or Individual</span>
          <ul class="dropdown">
            <li><a href="javascript:void(0)">Brand</a></li>
            <li><a href="javascript:void(0)">Individual</a></li>
          </ul>
        </div>
        <input type="text" placeholder="How many people" tabindex="3">
        <div id="dd-2" class="wrapper-dropdown" tabindex="4">
          <span>Brunch, Afternoon Tea, or Cocktail</span>
          <ul class="dropdown">
            <li><a href="javascript:void(0)">Brunch</a></li>
            <li><a href="javascript:void(0)">Afternoon Tea</a></li>
            <li><a href="javascript:void(0)">Cocktail</a></li>
          </ul>
        </div>
        <input type="text" placeholder="Date + Time" tabindex="5">
        <input type="text" placeholder="Budget" tabindex="6">
        <textarea name="message" placeholder="Message" tabindex="7"></textarea>
        <input type="email" placeholder="Email" tabindex="8">
        <input type="submit" value="Submit" tabindex="9">
      </form>
    </div>
  </section>

  <section id="insta-feed">
    <h2>@thesettingnyc</h2>
    <div id="insta-images-container">
      <% @images.each do |image| %>
        <%= image_tag image, class: 'insta-img' %>
      <% end %>
    </div>
    <div class="expand">
      <em><a href="#">Show More</a></em>
    </div>
  </section>

</div> <!-- Closes Main Container div -->
  
<footer>
  <div id="footer-container">
    <em><p>&copy; Copyright 2015 The Setting New York<span>Terms &amp; Conditions</span></p></em>
    <div class="email-signup">
      <input type="email" placeholder="Email">
      <button type="submit">Subscribe</button>
    </div>
  </div>
</footer>

