//STYLESHEETS////////////////////////////////////////////

@import "bourbon";
@import "neat";
@import "style";
@import "header";
@import "forms";
@import "footer";
@import "slick-themes";

//FONTS/////////////////////////////////////////////////

@include font-face("baskerville",
                  "baskerville/baskerville",
                  $asset-pipeline: true,
                  $file-formats: ttf);
@include font-face("baskerville",
                  "baskerville/baskerville-italic", normal, italic,
                  $asset-pipeline: true,
                  $file-formats: ttf);
@include font-face("slick",
                  "slick/slick",
                  $asset-pipeline: true,
                  $file-formats: ttf eot svg woff);