// FOOTER ////////////////////////////////////////////////////////////////////////////////////

footer {
  width: 100%;
  background-color: $light-grey;
  height: 120px;
  #footer-container {
    line-height: 120px;
    position: relative;
    max-width: $outer-max-width;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin: 0;
    position: absolute;
    span {
      margin-left: 4em;
    }
  }
  .email-signup {
    position: absolute;
    right: 0;
    input {
      background-color: transparent;
      border-bottom: 1px solid $dark-grey;
      width: 270px;
      height: 28px;
      margin: 0;
      // @include placeholder {
      //   color: $medium-grey;
      // }
    }
    button {
      width: 70px;
      background-color: transparent;
      color: $dark-grey;
      vertical-align: sub;
      font-style: italic;
      font-size: inherit;
    }
  }
}