// FOOTER ////////////////////////////////////////////////////////////////////////////////////

footer {
  width: 100%;
  background-color: $light-grey;
  height: 120px;
  #footer-container {
    line-height: 120px;
    position: relative;
    max-width: $outer-max-width;
    margin-left: auto;
    margin-right: auto;
    form {
      margin: 0;
      width: initial;
    }
  }
  p {
    margin: 0;
    position: absolute;
    span:first-child {
      margin-left: 0;
    }
    span {
      margin-left: 4em;
    }
  }
}

@media only screen and (max-width: 1000px){

  footer {
    height: 180px;
    #footer-container {
      line-height: initial;
    }
    .email-signup {
      width: 100%;
      position: relative;
      padding: 1em 0 2em;
      text-align: center;
    }
    p {
      text-align: center;
      span {
        margin-left: 0;
      }
      span:first-child {
        top: 3em;
        left: 0;
        width: 100%;
        position: absolute;
      }
      span:nth-child(n+2) {
        width: 50vw;
      }
      span:nth-child(2){
        float: left;
      }
      span:nth-child(3){
        float: right;
      }
    }
  }


}