// GLOBAL VARIABLES ///////////////////////////////////////////////////////////////////////////

$header-height: 60px;
$base-font-color: #59;

// GENERAL ///////////////////////////////////////////////////////////////////////////

html {
  font-family: baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

body {
  margin: 8px 0;
}

#main-container {
  padding-top: 60px;
  max-width: 58em;
  margin-left: auto;
  margin-right: auto;
}

.expand {
  text-align: center;
  a {
    text-decoration: none;  
  }
  
}


footer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

