<footer id="main-footer">
  <div id="footer-container">
    <em><p>&copy; Copyright 2015 The Setting New York
      <span>Terms &amp; Conditions</span>
      <span><a href="mailto:hello@thesettingnyc.com">hello@thesettingnyc.com</a></span>
    </p></em>
    
    <div class="email-signup">
      <input type="email">
      <button type="submit">Subscribe</button>
    </div>
  </div>
</footer>