<footer id="main-footer">
  <div id="footer-container">
    <div class="email-signup">
    <form action="//thesettingnyc.us10.list-manage.com/subscribe/post?u=48510892ba7672b7e671bc1ec&amp;id=052b53a9d5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">

        <button value="Subscribe" name="subscribe" id="mc-embedded-subscribe" type="submit">Subscribe</button>
    </div>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    </form>
    <em><p>
      <span>&copy; Copyright 2015 The Setting New York</span>
      <span>Terms &amp; Conditions</span>
      <span><a href="mailto:hello@thesettingnyc.com">hello@thesettingnyc.com</a></span>
    </p></em>


  </div>
</footer>

<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_48510892ba7672b7e671bc1ec_052b53a9d5" tabindex="-1" value=""></div>


<!-- Begin MailChimp Signup Form -->
<!-- <div id="mc_embed_signup">
<form action="//thesettingnyc.us10.list-manage.com/subscribe/post?u=48510892ba7672b7e671bc1ec&amp;id=052b53a9d5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_48510892ba7672b7e671bc1ec_052b53a9d5" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div> -->

<!--End mc_embed_signup-->