<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <%= render 'spree/home/logo' %>
    <a href="javascript:void(0)" id="js-centered-navigation-menu-btn" class="centered-navigation-menu-btn header-link">Menu</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu">
        <li class="nav-link"><a href="#products">Products</a></li>
        <li class="nav-link"><a href="#studio">Studio</a></li>
      </ul>
    </nav>
    <a id="cart-link" class="header-link" href="#">Cart</a>
  </div>
</header>