<header class="centered-navigation" role="banner">
<div id="email-catch-wrapper">
  <div id="email-catch">
    <div class="close-email-catch x-icon">×</div>
    <p>Stay in touch for new recipes, entertaining tips, interviews and early access to product releases</p>
      <div class="email-signup">
      <form action="//thesettingnyc.us10.list-manage.com/subscribe/post?u=48510892ba7672b7e671bc1ec&amp;id=052b53a9d5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" placeholder="Email" class="required email" id="mce-EMAIL">

          <button value="Subscribe" name="subscribe" id="mc-embedded-subscribe" type="submit">→</button>
      <!-- </div> -->

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      </form>
    </div>
  </div>
</div>
<%= flash_messages %>
  <div class="centered-navigation-wrapper">
    <%= render 'spree/home/logo' %>
    <div id="menu-container">
    <a href="javascript:void(0)" id="js-centered-navigation-menu-btn" class="centered-navigation-menu-btn header-link">Menu</a>
      <nav role="navigation">
        <ul id="js-centered-navigation-menu" class="centered-navigation-menu">
        <% if params[:action] == "index" %>
          <li class="nav-link"><a href="#studio">Studio</a></li>
          <li class="nav-link"><a href="#products-section">Shop</a></li>
          <li class="nav-link"><a href="#about">About</a></li>
        <% else %>
          <li class="nav-link"><a href="/#studio">Studio</a></li>
          <li class="nav-link"><a href="/#products-section">Shop</a></li>
          <li class="nav-link"><a href="/#about">About</a></li>
        <% end %>
          <li class="nav-link"><a href="http://journal.thesettingnyc.com">Journal</a></li>
        </ul>
      </nav>
    </div>
    <a id="cart-link" class="header-link" href="/cart">Cart <span><%= "(#{@order.item_count})" if @order %></span></a>
  </div>
</header>